.container {
    align-content: center;
    align-items: center;
    margin-top: 50px;
}

.container_lolly {
    display: flex;
    justify-content: space-around;
}

.container_lolly_input {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-self: center;
    position: relative;
    left: -100px
}


.container_form {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 243, 230);
}

input[type="color"] {
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 10%;
}

.container_form > button {

    margin-top: 500px;

}

